#hero {
  background-image: url("../../../Images/baftaniBack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 25% right 0;
  height: 90vh;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
@media (max-width: 799px) {
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #features{
    justify-content: center;
  }
  #features .feature-box{
    margin: 15px 15px;
  }
}
